<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.viber.voip" />
    </queries>

    <dist:module
            dist:instant="true"/>
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:name=".ApplicationTaxi"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/Theme.App">
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
          ApplicationTaxi implements Configuration.Provider so WorkManager can be initialized
          on demand with the Hilt worker factory. The default startup initializer has to be
          removed, otherwise it wins the race and the Hilt workers cannot be constructed.
        -->
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <meta-data
                    android:name="androidx.work.WorkManagerInitializer"
                    android:value="androidx.startup"
                    tools:node="remove"/>
        </provider>
    </application>
</manifest>
